*
{
	margin: 0;
	padding: 0;

}
.logo
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 350px;
	
}
.header
{
	background:rgba(0,0,0,0);
	height: 100vh;
}
.video-background
{

	position: absolute;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-1;
}
@media (min-aspect-ratio:16/9)
{
	.video-background
	{
		width:100%;
		height:auto;
	}
}
@media (max-aspect-ratio:16/9)
{
	.video-background
	{
		width:auto;
		height:100%;
	}
}
		.welcome-msg
		{	
			text-align: center;
			font-family:monospace;
			color: #fff;	
		}
		.welcome-msg h1
		{
			position: absolute;
			bottom: 40px;
			width:100%;
			font-size:60px;
			font-weight:100;
			letter-spacing:5px;
			margin-bottom:1px;
		}
		.creator-msg
		{	
			text-align: center;
			font-family:monospace;
			color: #fff;	
		}
		.creator-msg h1
		{
			position: absolute;
			bottom: 12px;
			width:12%;
			font-size:10px;
			font-weight:100;
			letter-spacing:3px;
			margin-bottom:0px;
		}
		
		
.container
{
  position: absolute;
  top: 14%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.button
{
  position: relative;
  text-align: center;
  width: 250px;
  padding: 16px;
  font-size: 25px;
  color: white;
  font-family: poppins;
  font-weight: 400;
  border: 5px solid white;
  text-transform: uppercase;
  letter-spacing: 15px;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;

}

.button:hover
{
  box-shadow: 0 5px 50px 0 coral inset, 0 5px 50px 0 coral,
              0 5px 50px 0 coral inset, 0 5px 50px 0 coral;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;            
}
.container1
{
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.button1
{
  position: relative;
  text-align: center;
  width: 250px;
  padding: 16px;
  font-size: 25px;
  color: white;
  font-family: poppins;
  font-weight: 400;
  border: 5px solid white;
  text-transform: uppercase;
  letter-spacing: 15px;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;

}

.button1:hover
{
  box-shadow: 0 5px 50px 0 coral inset, 0 5px 50px 0 coral,
              0 5px 50px 0 coral inset, 0 5px 50px 0 coral;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;            
}